* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", sans-serif; }

.clear {
  clear: both; }

body {
  background: url("../images/bg-img.jpg"); }

#header {
  background-color: #0b162f;
  width: 100%;
  margin-top: 2em;
  line-height: 1.2; }

#mainNav {
  background: #d03c4a;
  color: #fff;
  width: 80%;
  margin-top: 3em;
  float: right;
  position: relative; }
  #mainNav ul {
    list-style: none;
    display: inline-block; }
    #mainNav ul li {
      display: inline-block;
      position: relative;
      text-align: center; }
      #mainNav ul li a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        margin-top: 4px;
        padding: 0.8em;
        font-size: 14px;
        font-weight: bold; }
        #mainNav ul li a:hover:after {
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          border: 0;
          border-color: #d03c4a;
          top: 100%;
          left: 35%;
          margin-top: 0;
          margin-left: -10px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid #d03c4a;
          border-top-color: #d03c4a; }
  #mainNav .btn-lang {
    display: inline-block;
    float: right;
    position: absolute;
    right: 5%; }
    #mainNav .btn-lang a {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      border: 2px solid #fff;
      margin: 0.8em 2em 0.8em 0.8em; }
      #mainNav .btn-lang a:hover {
        color: #d03c4a;
        background: #fff; }

#navLogo {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 1; }

#hgroup {
  color: #fff;
  width: 80%;
  float: right;
  font-weight: 300;
  padding-top: 10em;
  text-shadow: 1px 2px 1px #000; }
  #hgroup h1 {
    font-weight: 300;
    letter-spacing: -2px;
    font-size: 48px; }

.container {
  width: 80%;
  float: right; }
  .container ul {
    list-style: none;
    padding: 1.9em 0; }
    .container ul li {
      display: inline-block; }
      .container ul li a {
        text-decoration: none;
        color: #fff;
        opacity: 0.5;
        font-size: 1.1em;
        text-shadow: 1px 2px 1px #000;
        padding: 2px;
        font-weight: bold; }
        .container ul li a span {
          font-weight: 100; }
        .container ul li a:hover {
          opacity: 1; }
    .container ul .devider {
      color: #fff;
      width: 20px;
      opacity: 0.5;
      padding-bottom: 2em; }

#high {
  width: 95%;
  height: 400px;
  margin: 0 auto; }
  #high h1 {
    color: #fff;
    padding: 1em 0;
    font-weight: 100;
    text-shadow: 1px 2px 1px #000; }
  #high .highlights {
    width: 33%;
    display: inline-block;
    padding-right: 2em;
    float: left; }
    #high .highlights:last-of-type {
      padding-right: 0; }
    #high .highlights img {
      width: 100%; }
    #high .highlights .discript {
      padding: 1em 0; }
      #high .highlights .discript h2 {
        color: #d03c4a;
        font-weight: 100; }
        #high .highlights .discript h2 time {
          color: darkslategray;
          font-size: 16px; }
    #high .highlights ul {
      list-style: none; }
      #high .highlights ul li {
        display: inline-block; }
        #high .highlights ul li a {
          text-decoration: none;
          background: url(../images/icon_sprites_25.png) no-repeat;
          display: block; }
        #high .highlights ul li .music {
          width: 25px;
          height: 25px; }
          #high .highlights ul li .music:hover {
            background-position: 0 -300px; }
        #high .highlights ul li .photo {
          width: 25px;
          height: 25px;
          background-position: 0 -100px; }
          #high .highlights ul li .photo:hover {
            background-position: 0 -300px; }
        #high .highlights ul li .art {
          width: 25px;
          height: 25px;
          background-position: 0  -200px; }
          #high .highlights ul li .art:hover {
            background-position: 0 -300px; }

#involved {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-img.jpg");
  text-align: center;
  height: 400px; }
  #involved h1 {
    font-weight: 100;
    letter-spacing: -2px;
    font-size: 48px;
    color: #fff;
    text-shadow: 1px 2px 1px #000;
    padding: 1em; }
  #involved .work {
    width: 25%;
    display: inline-block; }
    #involved .work .pic {
      width: 30%;
      float: left;
      padding-right: .5em;
      display: inline-block; }
      #involved .work .pic img {
        width: 100%; }
    #involved .work .left {
      float: left;
      display: inline-block;
      width: 60%;
      padding-left: 1em; }
      #involved .work .left h2 {
        color: #fff;
        text-align: left;
        font-weight: 100;
        text-shadow: 1px 2px 1px #000;
        padding-bottom: .7em; }
      #involved .work .left p {
        text-align: left;
        color: white;
        font-weight: 100;
        text-shadow: 1px 2px 1px #000; }
  #involved .btn {
    display: block;
    border: 3px solid #d03c4a;
    color: #d03c4a;
    font-size: 1.1em;
    font-weight: bold;
    margin: 2em auto;
    padding: 0.8em 3em;
    background-color: transparent; }
    #involved .btn:hover {
      border: 3px solid white;
      color: white; }

.footer-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg-img.jpg");
  width: 100%;
  height: 400px; }
  .footer-page:before, .footer-page:after {
    content: "";
    display: table; }
  .footer-page:after {
    clear: both; }
  .footer-page h2, .footer-page h3 {
    color: #fff;
    font-weight: 100;
    text-shadow: 1px 2px 1px #000;
    padding: 2em 0 1em; }
  .footer-page h3 {
    padding: 0; }
  .footer-page .set {
    width: 24%;
    display: inline-block;
    float: left;
    padding-left: 2em; }
  .footer-page .us {
    padding-bottom: 1em; }
    .footer-page .us p {
      font-size: .8em;
      color: #d03c4a; }
    .footer-page .us .number {
      color: gray; }
  .footer-page .search {
    color: grey; }
    .footer-page .search p {
      padding-bottom: 2em;
      font-size: .8em; }
    .footer-page .search input[type='text'] {
      padding: .5em;
      background-color: black;
      opacity: 0.2;
      color: inherit; }
    .footer-page .search input[type='button'] {
      padding: .6em .8em;
      background-color: #d03c4a;
      opacity: 0.2;
      font-weight: bold;
      color: wheat;
      border: none;
      cursor: pointer; }
      .footer-page .search input[type='button']:hover {
        opacity: 1; }
  .footer-page .social span {
    color: #d03c4a; }
  .footer-page .social p {
    font-size: .8em;
    color: gray; }
  .footer-page .social .picture .cka {
    background: green;
    width: 20%;
    height: 40px;
    display: inline-block; }
  .footer-page .social .picture .cka1 {
    background: green;
    width: 15%;
    height: 30px;
    display: inline-block; }
  .footer-page .cop {
    color: grey;
    font-size: .8em;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid grey;
    margin-top: 1em;
    padding-top: .5em; }

@font-face {
  font-family: "kermlin";
  src: url("../fonts/kremlin.ttf"); }
@font-face {
  font-family: "micky";
  src: url("../fonts/Beyond/beyond.otf");
  font-weight: 300; }
#page-footer {
  background: #0b162f;
  height: 400px; }
  #page-footer .footer-holder {
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
    border-bottom: 2px solid #254fa0; }
    #page-footer .footer-holder .footer-logo {
      width: 150px;
      display: inline-block; }
      #page-footer .footer-holder .footer-logo img {
        width: 100%; }
    #page-footer .footer-holder .followers {
      float: right;
      display: inline-block; }
      #page-footer .footer-holder .followers:before, #page-footer .footer-holder .followers:after {
        content: "";
        display: table; }
      #page-footer .footer-holder .followers:after {
        clear: both; }
      #page-footer .footer-holder .followers h1 {
        color: #fff;
        font-family: micky, sans-serif;
        display: inline-block;
        padding: .5em; }
      #page-footer .footer-holder .followers ul {
        list-style: none;
        display: inline-block; }
        #page-footer .footer-holder .followers ul li {
          display: inline-block; }
          #page-footer .footer-holder .followers ul li .social-iscon {
            text-decoration: none; }
            #page-footer .footer-holder .followers ul li .social-iscon img {
              width: 40px; }
              #page-footer .footer-holder .followers ul li .social-iscon img:hover {
                opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
